/*
Job Manager API
Logs Live Page CSS
@author Ronan Delacroix
*/

body { background: black; padding:0 0 80px 0; margin:0;}

#container {
    background: #222;
    border: 1px #222 solid;
    font-family: Consolas, sans-serif;
    font-size: 13px;
    min-height: 80%;
}
#container p {
    margin: 0;
    padding: 3px 6px;
    transition: color 2s, background 2s;
}
#container p:nth-child(odd) {
    background: #333;
}
#container p:hover {
    background: #111;
    transition: background 0.1s;
}
#container p.new {
    background: #777;
    color: #FFF;
    opacity:0;
}
#container p.new:nth-child(odd) {
    background: #888;
    color: #FFF;
}


#container p span {
    border-radius: 50px;
    background: rgba(255,255,255, 0.2);
    padding: 3px 10px;
    cursor: pointer;
}

#container p span:hover {
    background: rgba(255,255,255, 0.5);
}